SCALE_WEBHOOK_URL=http://[IP_ADDRESS]/scale-ec2


SCALE_WEBHOOK_MIN_TERRAFORM_NODES=0
SCALE_DOWN_SSH_COMMAND="cd /home/ubuntu/cicd-ecr-kube-ec2-gitaction && MIN_TERRAFORM_NODES=0 bash ./remove-worker-and-reload.sh"