region            = "ap-southeast-1"
ami_id            = "ami-xxxxxxxxxxxxxxxxx"
instance_type     = "t2.micro"
key_name          = "your-keypair-name"
security_group_id = "sg-xxxxxxxxxxxxxxxxx"
vpc_id            = "vpc-xxxxxxxxxxxxxxxxx"

ansible_inventory_path = "/home/ubuntu/ansible-web/hosts.ini"

nodes = {
  node1 = {
    instance_type = "t2.micro"
  }
}
