global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    # Public DNS should point to the HAProxy VPS public IP: 13.251.125.252
    bind *:80
    mode http
    option httplog
    option forwardfor
    default_backend traefik_nodes_http

backend traefik_nodes_http
    mode http
    balance roundrobin
    option httpchk
    http-check send meth GET uri / ver HTTP/1.1 hdr Host benhvien.teamdevops.shop
    # Kubernetes worker private IPs. Each worker must run a local Traefik pod
    # because the Traefik Service uses externalTrafficPolicy: Local.
    server worker1 172.31.14.7:30080 check
    server worker2 172.31.5.164:30080 check
